<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blowfish Encryption</title>
    <script defer src="script.js"></script>
</head>
<body>
    <h2>Blowfish File Encrypt/Decrypt</h2>

    <h3>Encrypt File</h3>
    <input type="file" id="enc_file">
    <input type="text" id="enc_key" placeholder="enter key">
    <button onclick="encrypt()">Encrypt</button>
    <br><br>

    <h3>Decrypt File</h3>
    <input type="file" id="dec_file">
    <input type="text" id="dec_key" placeholder="enter key">
    <button onclick="decrypt()">Decrypt</button>
</body>
</html>
